<%# add navigation links to this file %>

<li><%= link_to 'books', books_path %></li>
<li><%= link_to 'users', users_path %></li>
<li><%= link_to 'reviews', reviews_path %></li>

<% if current_user.nil? %>
    <li><%= link_to 'sign in', signin_path %></li>
    <li><%= link_to 'sign up', signup_path %></li>
<% else %>
    <li><%= link_to 'sign out', signout_path, method: :delete %></li>
<% end %>